
<!Doctype html>

<html>
  <head>
    <script src="js/new_Jquery.js"></script>
            <link rel="icon" href="img/favicon.png">

  </head>
<body>
<%- include('header'); %>
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-12">
                  <div class="breadcrumb_iner">
                      <div class="breadcrumb_iner_item">
                          <p>Home/Shop/Single product/Cart list</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- breadcrumb start-->

  <!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Update</th>
              </tr>
            </thead>
            <tbody>
              <tr class="abc">  
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/arrivel/arrivel_1.png" alt="" />
                    </div>
                    <div class="media-body">
                      <p>Minimalistic shop for multipurpose use</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>360.00</h5>
                </td>
                <td>
                  <!--Edited-->
                  <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary js-btn-minus" type="button" id="minus" onclick="minus()">&minus;</button>
                        </div>
                        <input type="text" class="form-control text-center" value="1" aria-label="Example text with button addon" aria-describedby="button-addon1" id="quantity">
                        <div class="input-group-append">
                <button class="btn btn-outline-primary js-btn-plus" type="button" id="plus" onclick="add()">
                    &plus;</button>
                        </div>
                      </div>
                  <!--/Edited-->
                </td>
                <td>
                 <div id="tot">360</div>
                </td>
                <td >
                  <button name="del" id="del">Delete</button>
                </td>
              </tr>
<!--For sum-->
<script>
var a=360;
function add() { 
    var y=Number(document.getElementById('quantity').value);    
    y++;
    console.log(y);
    a=360*y;
    document.getElementById('tot').innerHTML = 360*y;               
}
function minus() { 
    var q=Number(document.getElementById('quantity').value);        
    q--;
    console.log(q);
    a=360*q;
    document.getElementById('tot').innerHTML = 360*q;
}

  </script>
<!--/For sum-->
              <tr class="def">
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/arrivel/arrivel_2.png" alt="" />
                    </div>
                    <div class="media-body">
                      <p>Minimalistic shop for multipurpose use</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>360.00</h5>
                </td>
                <td>
                  <!--Edited-->
                  <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary js-btn-minus" type="button" id="minus" onclick="minus1()">&minus;</button>
                        </div>
                        <input type="text" class="form-control text-center" value="1" aria-label="Example text with button addon" aria-describedby="button-addon1" id="quantity1">
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary js-btn-plus" type="button" id="add" onclick="add1()">&plus;</button>
                        </div>
                      </div>
                      <!--/Edited-->
                </td>
                <td>
                  <h5 id="tot1">360</h5>
                </td>
                <td >
                  <button name="del1" id="del1">Delete</button>
                </td>
              </tr>
              <!--For sum-->
<script>
var b=360;
  function add1() { 
      var y=Number(document.getElementById('quantity1').value);    
      y++;
      console.log(y);
      b=360*y;
      document.getElementById('tot1').innerHTML = 360*y;               
  }
  function minus1() { 
      var q=Number(document.getElementById('quantity1').value);        
      q--;
      console.log(q);
      b=360*q;
      document.getElementById('tot1').innerHTML = 360*q;
  }
$(document).ready(function(){
  $("#del").click(function(){
    $(".abc").remove();
    a=0;
  });
});

$(document).ready(function(){
  $("#del1").click(function(){
    $(".def").remove();
    b=0;
  });
});
    </script>
  <!--/For sum-->
  
              <tr class="bottom_button">
                <td>
                  <a class="btn_1" href="#" onclick="ftot()">Update Cart</a>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="btn_1" href="#">Close Coupon</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <div id="f_tot">9</div>
                </td>
              </tr>
              <!--Final Total-->
<script>  
function ftot() {
  var c=a+b;
  document.getElementById('f_tot').innerHTML = a+b;
}

</script>
<!--Final Total ends-->
              <tr class="shipping_area">
                <td></td>
                <td></td>
                <td>
                  <h5>Shipping</h5>
                </td>
                <td>
                  <div class="shipping_box">
                    <ul class="list">
                      <li>
                        Flat Rate: 5.00
                        <input type="radio" aria-label="Radio button for following text input" name="shipping" id="flat_rate">
                      </li>
                      <li>
                        Free Shipping
                        <input type="radio" aria-label="Radio button for following text input" name="shipping" id="free_shipping">
                      </li>
                      <li>
                        Flat Rate: 10.00
                        <input type="radio" aria-label="Radio button for following text input" name="shipping" id="flat_rate2">
                      </li>
                      <li class="active">
                        Local Delivery: 2.00
                        <input type="radio" aria-label="Radio button for following text input" name="shipping" id="local_delivery">
                      </li>
                    </ul>
                    <h6>
                      Calculate Shipping
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </h6>                    
                    <select class="shipping_select section_bg">
                      <option value="1">Gujarat</option>
                      <option value="2">Maharashtra</option>
                      <option value="4">Goa</option>
                    </select>
                    <input class="post_code" type="text" placeholder="Postcode/Zipcode" />
                    <a class="btn_1" href="#">Update Details</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="#">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="checkout">Proceed to checkout</a>
          </div>
        </div>
      </div>
  </section>
  <!--================End Cart Area =================-->
<!-- JS for incerement and decrement-->

<!-- JS for incerement and decrement-->
  <!--::footer_part start::-->
  <%- include('footer'); %>

  <!--::footer_part end::-->

</body>

</html>