<!Doctype html>
<html>
<head>

	<style type="text/css">
		.image{			
			border-radius: 10px;
			box-shadow: 5px 5px 5px 5px
		}
		.head{
			background-color: #e9ecef; 
			color: black;
			
		}
		.para{
			padding-bottom: 30%;
			font-size: 100%;
			color: black;
			font-family: Times New Roman;		
		}

.pic{
	border-radius: 10px;
}

	</style>
</head>
<body>
	<%- include('header'); %>
	
	<img src="images/about.jpg" width="100%" style="height: 50%;">

	<section class="breadcrumb breadcrumb_bg">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-12">
                  <div class="breadcrumb_iner">
                      <div class="breadcrumb_iner_item">
                          <p>Home / Order</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  

<br>
<br>
	<center>
		<table width="75%" align="center" class="image">
			<tr ><td></td></tr>
			<tr>
				<tr class="head"><td colspan = "3">
					<div style="padding-top: 1%; padding-left: 1%">Order Placed Successfully<br>12 May 20202</div>
					<div style="padding-right: 1%; " align="right">Order Id : 123478239586</div>
				</td></tr>

				<td width="25%" align="left">
					<img src="images/work-5.png" width="70%" height="42%" class="pic">
				</td>
				<td align="center" width="30%">
					<p align="left" class="para">
					Red One Piece  |  XL<br>
					Material : Silk <br>
					Price : 1500 Rs.</p>
				</td>
				<td width="25%" align="center">
					<br>
					<a class="btn_3" href="">Return & Replace</a>
					<br><br>
					<a class="btn_3" href="tracking">Tracking</a>
					<br><br>
					<a class="btn_3" href="">Return Status</a>
					<br><br>
				</td>
			</tr>
		</table>
			<br>
		<table width="75%" align="center" class="image">
			<tr>
				<tr class="head"><td colspan = "3">
					<div style="padding-top: 1%; padding-left: 1%">Order Placed Successfully<br>12 May 20202</div>
					<div style="padding-right: 1%; " align="right">Order Id : 123478239586</div>
				</td></tr>

				<td width="25%" align="left">
					<img src="images/work-6.jpg" width="70%" height="42%" class="pic">
				</td>
				<td align="center" width="30%">
					<p align="left" class="para">
					Black Dress | M<br>
					Material : Silk <br>
					Price : 1200 Rs.</p>
				</td>
				<td width="25%" align="center">
					<br>
					<a class="btn_3" href="">Return & Replace</a>
					<br><br>
					<a class="btn_3" href="tracking">Tracking</a>
					<br><br>
					<a class="btn_3" href="">Return Status</a>	
					<br><br>		
				</td>
			</tr>
		</table>
			<br>
		<table width="75%" align="center" class="image">
			<tr>
				<tr class="head"><td colspan = "3">
					<div style="padding-top: 1%; padding-left: 1%">Order Placed Successfully<br>12 May 20202</div>
					<div style="padding-right: 1%; " align="right">Order Id : 123478239586</div>
				</td></tr>

				<td width="25%" align="left">
					<img src="images/work-5.png" width="70%" height="42%" class="pic">
				</td>
				<td align="center" width="30%">
					<p align="left" class="para">
					Red One Piece | S<br>
					Material : Silk <br>
					Price : 1500 Rs.</p>
				</td>
				<td width="25%" align="center">
					<br>
					<a class="btn_3" href="">Return & Replace</a>
					<br><br>
					<a class="btn_3" href="tracking">Tracking</a>
					<br><br>
					<a class="btn_3" href="">Return Status</a>
					<br><br>
				</td>
			</tr>
		</table>
			<br>
	</center>

<br>
<br>


	<%- include('footer'); %>
</body>
</html>