<!DOCTYPE html>
<html lang="en">
<body class="animsition">
   <%- include('header'); %>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
       
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-comment-more"></i>
                                        <span class="quantity">1</span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <p>You have 2 news message</p>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                                </div>
                                                <div class="content">
                                                    <h6>Michelle Moreno</h6>
                                                    <p>Have sent a photo</p>
                                                    <span class="time">3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-04.jpg" alt="Diane Myers" />
                                                </div>
                                                <div class="content">
                                                    <h6>Diane Myers</h6>
                                                    <p>You are now connected on message</p>
                                                    <span class="time">Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="mess__footer">
                                                <a href="#">View all messages</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-email"></i>
                                        <span class="quantity">1</span>
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>You have 3 New Emails</p>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, 3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, April 12,,2018</span>
                                                </div>
                                            </div>
                                            <div class="email__footer">
                                                <a href="#">See all emails</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">3</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 3 Notifications</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a email notification</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Your account has been blocked</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a new file</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">john doe</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">john doe</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
									<div class="card-header">
										<h4>Manage Orders</h4>
									</div>
									<div class="card-body">
										<div class="custom-tab">
											<div class="tab-content pl-3 pt-2" id="nav-tabContent">
												<div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                                                    <div class="table-responsive table-responsive-data2">
                                                        <table class="table table-data2 align-center" id="searchTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Order No.</th>
                                                                    <th>Date of Order</th>
                                                                    <th>Total Amount</th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="tr-shadow">
                                                                    <td>1.</td>
                                                                    <td>12/01/20</td>
                                                                    <td>$10000</td>
                                                                    <td>
                                                                        <button type="button" data-toggle="modal" data-target="#Modal1">
                                                                            View Details
                                                                        </button>
                                                                    </td>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-primary" >Accept</button>
                                                                        <button class="btn btn-danger"  >Reject</button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="spacer"></tr>
                                                                <tr class="tr-shadow">
                                                                    <td>2.</td>
                                                                    <td>12/01/20</td>
                                                                    <td>$10000</td>
                                                                    <td>
                                                                        <button type="button" data-toggle="modal" data-target="#Modal2">
                                                                            View Details
                                                                        </button>
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-primary" >Accept</button>
                                                                        <button class="btn btn-danger"  >Reject</button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="spacer"></tr>
                                                                <tr class="tr-shadow">
                                                                    <td>3.</td>
                                                                    <td>12/01/20</td>
                                                                    <td>$10000</td>
                                                                    <td>
                                                                        <button type="button" data-toggle="modal" data-target="#Modal3">
                                                                            View Details
                                                                        </button>
                                                                    </td>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-primary" >Accept</button>
                                                                        <button class="btn btn-danger"  >Reject</button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="spacer"></tr>
                                                                <tr class="tr-shadow">
                                                                    <td>4.</td>
                                                                    <td>12/01/20</td>
                                                                    <td>$10000</td>
                                                                    <td>
                                                                        <button type="button" data-toggle="modal" data-target="#Modal4">
                                                                            View Details
                                                                        </button>
                                                                    </td>    
                                                                    </td>
                                                                    <td>
                                                                        <button class="btn btn-primary" >Accept</button>
                                                                        <button class="btn btn-danger"  >Reject</button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="Modal1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal1Label">
                            Order No :-  12201<br/>
                            Name :- Idrish  &emsp;
                            Address :- Ahmedabad
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2" id="searchTable">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th colspan="2">product name</th>
                                        <th>category</th>
                                        <th>Quantity</th>
                                        <th>price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-shadow">
                                        <td>1.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>T Shirts</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>2.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Shirts</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>3.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Jeans</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>4.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Kurtas</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td colspan=4></td>
                                        <td colspan=2><b>Total Amount</b></td>
                                        <td><b>$271600</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="Modal2Label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal2Label">
                            Order No :-  12205<br/>
                            Name :- Idrish  &emsp;
                            Address :- Ahmedabad
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2" id="searchTable">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th colspan="2">product name</th>
                                        <th>category</th>
                                        <th>Quantity</th>
                                        <th>price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-shadow">
                                        <td>1.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>T Shirts</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>2.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Shirts</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>3.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Jeans</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>4.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Kurtas</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td colspan=4></td>
                                        <td colspan=2><b>Total Amount</b></td>
                                        <td><b>$271600</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="Modal3Label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal3Label">
                            Order No :-  12209<br/>
                            Name :- Idrish  &emsp;
                            Address :- Ahmedabad
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2" id="searchTable">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th colspan="2">product name</th>
                                        <th>category</th>
                                        <th>Quantity</th>
                                        <th>price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-shadow">
                                        <td>1.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>T Shirts</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>2.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Shirts</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>3.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Jeans</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>4.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Kurtas</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td colspan=4></td>
                                        <td colspan=2><b>Total Amount</b></td>
                                        <td><b>$271600</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="Modal4Label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal4Label">
                            Order No :-  12210<br/>
                            Name :- Idrish  &emsp;
                            Address :- Ahmedabad
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2" id="searchTable">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th colspan="2">product name</th>
                                        <th>category</th>
                                        <th>Quantity</th>
                                        <th>price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-shadow">
                                        <td>1.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>T Shirts</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>2.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Shirts</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>3.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Jeans</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td>4.</td>
                                        <td class="img-text">
                                            <img class="img" src="images/bg-title-01.jpg" alt="">
                                        </td c>
                                        <td>Kurtas</td>
                                        <td>Category Name</td>
                                        <td>100</td>
                                        <td>$679.00</td>
                                        <td>$67900</td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    <tr class="tr-shadow">
                                        <td colspan=4></td>
                                        <td colspan=2><b>Total Amount</b></td>
                                        <td><b>$271600</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/validation.js"></script>
    <script src="js/form-validate.js"></script>
    

</body>

</html>
<!-- end document-->
